{% extends "/Cmatrix/Web/mvc/templates/commonLogin.twig" %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/cmatrix/admin.js"></script>
{% endblock %}

{% block name %}
    {{ parent() }}<span class="px-1 text-6xl leading-4 my-auto">•</span><span class="text-2xl text-green-700 my-auto">Admin`ка</span>
{% endblock %}

{% block action %}
    <span>action</span>
{% endblock %}

{% block direct %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% if sysuser.code == 'guest' %}
        <div id="cm-need-login"></div>
    {% endif %}
    {{ parent() }}
{% endblock %}