{% extends "/Cmatrix/Web/mvc/templates/common.twig" %}

{% block logo %}
<span class="text-6xl leading-4 text-green-700 my-auto flex-shrink-0">~</span>
{% endblock %}

{% block name %}
<span class="text-2xl text-green-700 my-auto">name</span>
{% endblock %}

{% block nameTitle %}nameTitle{% endblock %}

{% block action %}
<span>action</span>
{% endblock %}

{% block direct %}
<span>direct</span>
{% endblock %}

{% block user %}
<span>user</span>
{% endblock %}


{% block main %}
<h1>QAZ1</h1>
{% endblock %}