html {
    font-size: 16px;
    font-family: Arsenal, Arial !important;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}


.wi-noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wi-noscroll { overflow: hidden; }
.wi-x-noscroll { overflow-x: hidden; }
.wi-y-noscroll { overflow-y: hidden; }
.wi-hidden { display: none; }
.wi-novisible { opacity: 0; }

.wi-hover {
    transition: .03s linear;
    
    &:hover {
        opacity: 0.5;
    }
}

.wi-behind {
    z-index : -100 !important;
}
/*
.cm-error {
    display: none;
}
*/

button:focus, a:focus {
    outline: none;
}

input:focus {
    outline: 1px solid gray;
}

body {
    background : white;
}

/* подложка на весь экран */
.wi-back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: .1s;
    
    & > * {
        transition: .1s;
    }
    
    &:not(.wi-opend) {
        opacity: 0;
        //z-index: -100;
        
        & > * {
            transform: translate(0,50px);
        }
    }
}

/* горизонтальный разделитель */
.wi-h-devider-1 {
    border-top : 1px solid;
}


.cm-menu {
    .cm-menu-item {
        span {
            position : relative;
            top : -0.125rem;
        }
    }
}

@keyframes win-show {
      0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
.cm-alert-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100,100,100,0.5);
    z-index: 100;
    
    &.cm-behind {
        z-index : -100;
    }
    
    &:not(.cm-show) {
        display: none;
    }
    
    .cm-alert {
        box-shadow: 1 25px 60px rgba(0,0,0,0.5);
        animation: alert-show .15s ease-out forwards;
        opacity: 0;
        
    }
}
*/

@keyframes alert-show {
      0% { opacity: 0; }
    100% { opacity: 1; }
}


//input:not([required="required"]) {
//    background-color : #bbe6ff
//}

input,textarea {
    //border: 1px solid lightgrey;
    border: none !important;
    outline: 1px solid lightgrey !important;
    &:focus {
        outline: 1px solid darkgrey !important;
    }
}

textarea {
    min-height : 5rem;
}

input[required="required"] {
    background-color : #ffffde !important;
    
    &.wi-invalid {
        outline: 2px solid red;
        background-color: #ffecec
    }
}

/*input:invalid {
    outline: 2px solid red;
}*/

.wi-tabs-item {
    &.wi-active {
        background-color: rgb(212,212,216);
    }
}

.wi-tabs-content {
    &.wi-active {
        transition: .2s;
    }
    
    &:not(.wi-active) {
        //display: none;
        opacity: 0;
        height: 0;
    }
}

