html {
    font-size: 16px;
    font-family: Arsenal, Arial !important;
}

html,header {
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

/*
.cm-error {
    display: none;
}
*/

button:focus, a:focus {
    outline: none;
}

input:focus {
    outline: 1px solid gray;
}

body {
    background : white;
}

button,a {
    i + span {
        position: relative;
        top: -0.08rem;
    }
}


.cm-menu {
    .cm-menu-item {
        span {
            position : relative;
            top : -0.125rem;
        }
    }
}

@keyframes win-show {
      0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
.cm-alert-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100,100,100,0.5);
    z-index: 100;
    
    &.cm-behind {
        z-index : -100;
    }
    
    &:not(.cm-show) {
        display: none;
    }
    
    .cm-alert {
        box-shadow: 1 25px 60px rgba(0,0,0,0.5);
        animation: alert-show .15s ease-out forwards;
        opacity: 0;
        
    }
}
*/

@keyframes alert-show {
      0% { opacity: 0; }
    100% { opacity: 1; }
}
