#AuthType Basic
#AuthName "RawEditor"
#AuthUserFile /mnt/md1/home/ura/__WORK__/cmatrix.lite/bundle/apjqph/www/.htpasswd
#require valid-user

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /cmatrix

    # --- --- --- --- --- --- --- ---
    # Крайний слеш
    # если файл, то отбросить слеш
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)(/)$ $1 [L,R=301]

    # если в url в конце нет слеша, то добавить
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} !(.*)/$
#    RewriteRule ^([^res|^cache].*[^/])$ $1/ [L,R=301]

    # непонятно
    # RewriteCond %{REQUEST_FILENAME} -d
    # RewriteRule ^(.*/[^\./]*[^/])$ $1/ [L]

    # --- --- --- --- --- --- --- ---
    # RAW
    RewriteCond %{REQUEST_URI} (raw)$
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(raw)/$ - [L]

    RewriteCond %{REQUEST_URI} (raw)/$
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(raw)/$ - [L]

    RewriteCond %{REQUEST_URI} raw/.*$
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .* - [L]

    # --- --- --- --- --- --- --- ---
    # Resources
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule (robots\.txt|sitemap\.xml)$ $1 [L]

    # RewriteRule ^(.*)(res/js/.*\..*)$ $2 [QSA,L]
    # RewriteRule ^(.*)(res/css/.*\..*)$ $2 [QSA,L]
    # RewriteRule ^(.*)(res/res/.*\..*)$ $2 [QSA,L]
    RewriteRule ^(.*)(res/.*\..*)$ $2 [QSA,L]

    # --- --- --- --- --- --- --- ---
    # Global
    # Так не работает из-за невозможности запретить ресурсы, кроме вышеуказанных
    # RewriteCond %{REQUEST_URI} (.*)/$

    RewriteCond %{REQUEST_URI} (.*)$
    RewriteRule ^(.*)$ index.php?cmp=$1 [QSA,L]
</IfModule>