{% extends "/Tilda/Web/mvc/templates/common.twig" %}

{% block favicon %}
    res/tilda/ico/favicon.ico
{% endblock %}

{% block actions %}
    {% if session %}
        <a id="wi-search" class="cm-hover cursor-pointer mx-2 flex">
            <i class="my-auto text-2xl far fa-search"></i>
        </a>
        <a id="wi-message" class="cm-hover cursor-pointer mx-2 flex">
            <i class="my-auto text-2xl far fa-comment"></i>
        </a>
        <a id="wi-session"
            class="cm-hover flex ml-2 cursor-pointer" 
            href="{{ url.login }}"
            onclick="event.preventDefault()"
            target="{% if session.user.code == 'guest' %}#cm-login{% else %}#cm-session{% endif %}"
        >
            <span class="cm-name my-auto mr-2">{{ session.user.name }}</span>
            <i class="text-3xl my-auto mr-2 fas fa-user-circle"></i>
            {% if session.user.code != 'guest'%}<i id="wi-caret-session" class="my-auto mr-2 fas fa-caret-left"></i>{% endif %}
        </a>
    {% endif %}
{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="res/tilda/home.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
     <script type="module" src="res/tilda/home.js"></script>
{% endblock %}
