{% extends "/Tilda/Web/mvc/templates/common.twig" %}

{% block style %}
    {{ parent() }}
    {# <link rel="stylesheet/less" type="text/css" href="res/CmatrixWeb/adminDataEntityView.less"/> #}
    <link rel="stylesheet/less" type="text/css" href="res/cmatrix/lib/table.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
     <script type="module" src="res/tilda/toolsTool.js"></script>
{% endblock %}


{% block main %}
    {% import "/Cmatrix/Web/mvc/templates/lib/table.twig" as _table %}
    {% import "/Cmatrix/Web/mvc/templates/lib/tree.twig" as _tree %}
    
    <div class="h-full bg-gray-300 overflow-auto flex-shrink-0 flex-grow-0" style="flex-basis:15rem">
        {{ _tree.tree('wi-tree-tool',tree) }}
    </div>
    
    <div class="w-1" style="cursor:ew-resize"></div>
    
    <div class="bg-yellow-50 ml-1 w-full overflow-auto flex-shrink flex-grow">
        {{ _table.table('wi-table-tool',table) }}
    </div>
{% endblock %}